$lg-mobile-width: 562px;
$tablet-portrait-width: 768px;
$tablet-landscape-width: 1024px;
$desktop-width: 1440px;
$lg-mobile-max: $tablet-portrait-width - 1;
$tablet-portrait-max: $tablet-landscape-width - 1;
$tablet-landscape-max: $desktop-width - 1;


$lg-mobile: new-breakpoint(min-width $lg-mobile-width max-width $lg-mobile-max);

$tablet-portrait: new-breakpoint(min-width $tablet-portrait-width max-width $tablet-portrait-max);

$tablet-landscape: new-breakpoint(min-width $tablet-landscape-width max-width $tablet-landscape-max);

$desktop: new-breakpoint(min-width $desktop-width);
