body, html {
    min-height: 100%;
}

body {
    background: $clr-light url(../images/handmadepaper2.png) top left repeat;
    width: 100%;
    overflow-x: hidden;
}

a {
    color: $clr-links-out;
    cursor: pointer;
    font-family: $font-heading;
    text-decoration: underline;

    &:hover {
        color: $clr-links-over;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $clr-dark;
}

h1 {
    border-bottom: 1px solid $clr-dark;
}

hr {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $clr-hlight2_lt;
    box-shadow: 0 1px 0 $clr-light;
    height: 0px;
    margin: 1.0em 0;
}

p {
    margin: 1.0em 0;
}

strong {
    font-weight: bold;
}

ul {
    list-style: disc;
    margin-left: 1.0em;
    padding-left: 1.0em;

    li {
        margin-bottom: 0.5em;
    }
}
