body, html {
    min-height: 100%;
}

body {
    background: $clr-light url(../images/handmadepaper2.png) top left repeat;
    width: 100%;
    overflow-x: hidden;
}

a {
    //color: lighten($clr-hlight_lt, 10%);
    color: $clr-hlight_lt;
    cursor: pointer;
    font-family: $font-heading;
    text-decoration: underline;

    &:hover {
        color: lighten($clr-hlight_lt, 10%);
    }
}

hr {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $clr-hlight2_dk;
    height: 0px;
    margin: 1.0em 0;
}

p {
    margin: 1.0em 0;
}

strong {
    font-weight: bold;
}

ul {
    list-style: disc;
    margin-left: 1.0em;
    padding-left: 1.0em;

    li {
        margin-bottom: 0.5em;
    }
}
