body, html {
    min-height: 100%;
}

body {
    background: $clr-light url(../images/handmadepaper2.png) top left repeat;
}

a {
    color: $clr-blue;
    cursor: pointer;
    font-family: $font-heading;
    text-decoration: none;

    &:hover {
        color: lighten($clr-blue, 10%);
    }
}
