
// The Tufte stack from https://www.edwardtufte.com
$font-heading: 'GillSans', 'Gill Sans MT', 'Gill Sans', 'Trebuchet MS', sans-serif;
$font-body: 'Times New Roman','Times','Serif';

body {
    font-family: $font-body;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
    font-weight: bold;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2.0em;

    @include media($tablet-portrait) {
        font-size: 2.5em;
    }
    @include media ($tablet-landscape) {
        font-size: 3.0em;
    }
    @include media ($desktop) {
        font-size: 3.0em;
    }
}
h2 {
    font-size: 1.25em;

    @include media($tablet-portrait) {
        font-size: 1.25em;
    }
    @include media ($tablet-landscape) {
        font-size: 2.0em;
    }
    @include media ($desktop) {
        font-size: 2.0em;
    }
}
h3 {
    font-size: 1.10em;

    @include media($tablet-portrait) {
        font-size: 1.10em;
    }
    @include media ($tablet-landscape) {
        font-size: 1.5em;
    }
    @include media ($desktop) {
        font-size: 1.5em;
    }
}
h4, h5, h6 {
    font-size: 1.0em;
}

p {
    line-height: 1.33em;
    margin: 2.5em 0;
}

p:not(:first-child) {
    margin-top: 0;
}

p+p {
    text-indent: 0;
    margin-top: -0.75rem;
}

ul {
    margin-bottom: 1.5em;
}
