
// The Tufte stack from https://www.edwardtufte.com
$font-heading: 'GillSans', 'Gill Sans MT', 'Gill Sans', 'Trebuchet MS', sans-serif;
$font-body: 'Times New Roman','Times','Serif';

body {
    font-family: $font-body;
}

h1, h2, h3, h4, h5, h6 {
    color: $clr-dark-alt;
    font-family: $font-heading;
    font-weight: bold;
    margin-bottom: 0.5em;
}

h1 {
    border-bottom: 1px solid $clr-hlight2_dk;
    font-size: 3.0em;
    text-shadow: 0px 1px 0 #fff;
}
h2 {
    font-size: 2.0em;
}
h3 {
    font-size: 1.5em;
}
h4, h5, h6 {
    font-size: 1.0em;
}

p {
    line-height: 1.33em;
}

p+p {
    text-indent: 0;
    margin-top: -0.75rem;
}
