h1, h2, h3, h4, h5 {
  font-family: "Lato";
  line-height: 1.5;
}

p {
  font-family: "Merriweather";
  font-size: modular-scale(1);
  line-height: 1.3;
}

h1 {
  font-size: modular-scale(5);
}

h2 {
  font-size: modular-scale(4);
}

h3 {
  font-size: modular-scale(3);
}

h4 {
  font-size: modular-scale(2);
}

h5 {
  font-size: modular-scale(1);
}
