
// The Tufte stack from https://www.edwardtufte.com
$font-heading: 'GillSans', 'Gill Sans MT', 'Gill Sans', 'Trebuchet MS', sans-serif;
$font-body: 'Times New Roman','Times','Serif';

body {
    font-family: $font-body;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
    font-weight: bold;
}

h1, h2 {
    color: $clr-red_alt;
}
