
<header class="header">

    <div class="feature">
        <div class="headerlogo">
            <a href="/">{% include logo.html %}</a>
        </div>
    </div>

    <div class="nav-ctr">
        <div role="navigation" class="navigation">

            <div class="navheader">
                <a><i class="fa fa-bars"></i> Menu</a>
            </div>

            <div class="navcols">
                <div class="navcol">
                    <div><a class="navlink" href="/">Home</a></div>
                    <div><a class="navlink" href="/events">Events</a></div>
                    <div><a class="navlink" href="/blog">Blog</a></div>
                    <div><a class="navlink" href="/jobs">Jobs</a></div>
                    <div><a class="navlink" href="/speakers">Speakers</a></div>
                </div>

                <div class="navcol">
                    <div><a class="navlink" href="/tutorials">Tutorials</a></div>
                    <div><a class="navlink" href="/data">Data</a></div>
                    <div><a class="navlink" href="/sponsors">Sponsors</a></div>
                    <div><a class="navlink" href="/conduct">Code of Conduct</a></div>
                    <div><a class="navlink" href="/about">About</a></div>
                </div>
            </div>

            <div class="navfooter">
                <p>
                    <i class="fa fa-slack"></i>
                    Chat with us at the
                    <a href="http://www.opendayton.org">OpenDayton Slack Community</a>!
                </p>
            </div>
        </div>
    </div>

</header>
