<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px" y="0px"
    width="1025px" height="425px"
    viewBox="0 0 1025 425"
    class="logo">
    <title>Dayton Data Visualization Logo</title>
    <defs>
        <linearGradient y1="5%" y2="95%" x1="0" x2="0" id="steady">
            <stop stop-color="#FFFFFF" offset="0%">
            </stop>
            <stop stop-color="#FFFFFF" offset="100%"></stop>
        </linearGradient>
        <linearGradient y1="10%" y2="80%" x1="0" x2="0" id="anim1">
            <stop stop-color="#FFFFFF" offset="0">
                <animate attributeName="offset" values=".15;.85;.15;" dur="3s" repeatCount="indefinite" />
            </stop>
            <stop stop-color="#ED2224" offset="0"></stop>
        </linearGradient>
        <linearGradient y1="10%" y2="80%" x1="0" x2="0" id="anim2">
            <stop stop-color="#FFFFFF" offset="0%">
                <animate attributeName="offset" values=".5;.99;.5;.01;.5;" dur="3.5s" repeatCount="indefinite" />
            </stop>
            <stop stop-color="#ED2224" offset="0"></stop>
        </linearGradient>
        <linearGradient y1="10%" y2="80%" x1="0" x2="0" id="anim3">
            <stop stop-color="#FFFFFF" offset="0%">
                <animate attributeName="offset" values=".07; .82; .07;" dur="2s" repeatCount="indefinite" />
            </stop>
            <stop stop-color="#ED2224" offset="0"></stop>
        </linearGradient>
        <linearGradient y1="10%" y2="80%" x1="0" x2="0" id="anim4">
            <stop stop-color="#FFFFFF" offset="0%">
                <animate attributeName="offset" values=".13; .73; .13;" dur="2.5s" repeatCount="indefinite" />
            </stop>
            <stop stop-color="#ED2224" offset="0"></stop>
        </linearGradient>
        <linearGradient y1="10%" y2="80%" x1="0" x2="0" id="anim5">
            <stop stop-color="#FFFFFF" offset="0%">
                <animate attributeName="offset" values=".4;.8;.4;.01;.4" dur="4s" repeatCount="indefinite" />
            </stop>
            <stop stop-color="#ED2224" offset="0"></stop>
        </linearGradient>
    </defs>
    <g class="animating">
        <rect fill="url(#anim1)" x="25" y="49.925" width="24.949" height="285.69"/>
        <rect fill="url(#anim2)" x="62.518" y="49.925" width="24.949" height="298.025"/>
        <rect fill="url(#anim3)" x="100.034" y="49.925" width="24.949" height="322.987"/>
        <rect fill="url(#anim4)" x="137.552" y="62.335" width="24.949" height="322.909"/>
        <rect fill="url(#anim5)" x="175.067" y="87.298" width="24.947" height="285.614"/>
        <rect fill="url(#anim1)" x="212.585" y="99.632" width="24.949" height="298.093"/>
        <rect fill="url(#anim2)" x="250.105" y="87.298" width="24.949" height="273.136"/>
        <rect fill="url(#anim3)" x="287.623" y="62.259" width="24.949" height="260.94"/>
        <rect fill="url(#anim4)" x="325.139" y="49.925" width="24.949" height="235.47"/>
        <rect fill="url(#anim2)" x="362.657" y="25" width="24.949" height="211.056"/>
    </g>
    <g class="steady" fill="url(#steady)">
        <rect x="25" y="49.925" width="24.949" height="285.69"/>
        <rect x="62.518" y="49.925" width="24.949" height="298.025"/>
        <rect x="100.034" y="49.925" width="24.949" height="322.987"/>
        <rect x="137.552" y="62.335" width="24.949" height="322.909"/>
        <rect x="175.067" y="87.298" width="24.947" height="285.614"/>
        <rect x="212.585" y="99.632" width="24.949" height="298.093"/>
        <rect x="250.105" y="87.298" width="24.949" height="273.136"/>
        <rect x="287.623" y="62.259" width="24.949" height="260.94"/>
        <rect x="325.139" y="49.925" width="24.949" height="235.47"/>
        <rect x="362.657" y="25" width="24.949" height="211.056"/>
    </g>
    <text class="text" transform="matrix(1 0 0 1 457.1113 108.7378)">
        <tspan x="0" y="0" font-family="'TimesNewRomanPSMT'" font-size="100.0883" letter-spacing="2">dayton</tspan>
        <tspan x="0" y="100.088" font-family="'TimesNewRomanPSMT'" font-size="100.0883" letter-spacing="2">data</tspan>
        <tspan x="0" y="200.177" font-family="'TimesNewRomanPSMT'" font-size="100.0883" letter-spacing="2">visualization</tspan>
    </text>
    <text class="text-ddv" transform="matrix(1 0 0 1 350 375.0005)" font-family="'TimesNewRomanPSMT'" font-size="100.0883" letter-spacing="2">ddv.</text>
</svg>
