
.home {
    margin: 0 auto;
    padding: 1.0em 1.0em;

    @include outer-container(100%);
}

.home__event {
    @include outer-container(100%);

    .button {
        float: right;
    }
}

.home__main {
    @include span-columns(12);

    @include media($tablet-portrait) {
        @include span-columns(6);
    }
    @include media ($tablet-landscape) {
        @include span-columns(8);
    }
    @include media ($desktop) {
        @include span-columns(9);
    }
}

.home__sidebar {
    @include span-columns(12);

    @include media($tablet-portrait) {
        @include span-columns(6);
    }
    @include media ($tablet-landscape) {
        @include span-columns(4);
    }
    @include media ($desktop) {
        @include span-columns(3);
    }
}
