
.button {
    background-color: $clr-links-out;
    background-image: linear-gradient(to bottom, lighten($clr-links-out, 5%), $clr-links-out);
    border: none;
    border-radius: 0.35em;
    color: $clr-light;
    cursor: pointer;
    display: inline-block;
    font-size: 28px;
    letter-spacing: 0.075em;
    padding: 0.5em 1.0em;
    text-decoration: none;
    vertical-align: middle;

    &:hover {
        background-color: $clr-links-over;
        background-image: linear-gradient(to bottom, lighten($clr-links-over, 7%), lighten($clr-links-over, 3%));
        color: #fff;
    }

    img {
        height: 20px;
    }
}

.button-primary {
    @extend .button;

    background-color: $clr-hlight_lt;
    background-image: linear-gradient(to bottom, lighten($clr-hlight_lt, 5%), $clr-hlight_lt);

    &:hover {
        background-color: $clr-hlight_lt;
        background-image: linear-gradient(to bottom, lighten($clr-hlight_lt, 7%), lighten($clr-hlight_lt, 3%));
    }
}
