
@mixin footerSectionStyles {
    padding: 1.0em;
}

.footer {
    background: $clr-dark url(../images/dayton-skyline-banner.png) bottom center no-repeat;
    background-size: contain;
    border-top: 2.0em solid lighten($clr-dark, 35%);
    color: $clr-light;
    min-height: 400px;
    padding-top: 1.5em;
}

.footer__sections {
    @include outer-container(100%);

    section {
        @include span-columns(12);

        @include media($tablet-portrait) {
            @include span-columns(6);
            @include omega(2n);
        }
        @include media ($tablet-landscape) {
            @include span-columns(3);
            @include omega(4n);
        }
        @include media ($desktop) {
            @include span-columns(3);
            @include omega(4n);
        }
    }
}

.footer__about {
    @include footerSectionStyles();
}

.footer__nav {
    @include footerSectionStyles();

    ul {
        border-left: 3px dotted lighten($clr-dark, 5%);
        margin-left: 1.0em;
        padding-left: 0.5em;
    }

    a {
        display: inline-block;
        margin: 0.25em 0;
        padding: 0.25em 0.5em;

        &:hover {
        }
    }
}

.footer__logos {

    $logo-size: 23px;
    font-size: $logo-size;
    @include footerSectionStyles();

    a {
        color: $clr-light;
        margin: 0 0.25em;
    }

    img {
        height: $logo-size;
    }
}

.footer__copy {
    color: lighten($clr-dark, 35%);
    font-family: $font-heading;
    font-size: 65%;
    padding: 1.5em;
    padding-bottom: 0.5em;
    text-align: center;
}
