
header {
    background: $clr-dark;
    color: $clr-light;
}

//$nav-height: 50px;

.navigation {
    @include outer-container(100%);

    align-items: center;
    display: flex;
    font-family: $font-heading;
    justify-content: flex-start;
    padding: 0.25em 1.0em;

    a {
        justify-content: center;
    }

    .navlogo {
        background: none;
        border: none;
        outline: none;
    }

    .navlink {
        //background-color: rgba(#fff, 0.05);
        //border-radius: 0.25em;
        //color: $clr-yellow;
        font-size: 0.85em;
        letter-spacing: 0.075em;
        margin: 0.25em 0.5em;
        padding: 0.5em 1.0em;
        text-decoration: none;
        text-shadow: 1px 1px 0 #000;

        &:hover {
            background-color: rgba(#fff, 0.15);
            //color: #fff;
        }
    }
}
