$header-transition: all 0.3s;

.header {
    align-items: stretch;
    background: $clr-dark;
    //background-image: linear-gradient(to bottom, rgba(0, 6, 12, 0.75), rgba(0, 0, 0, 0.75)), url(../images/unsplash-code01.jpg);
    background-image: url(../images/unsplash-code02.jpg);
    background-position: center top;
    background-size: cover;
    border-bottom: 1px solid #fff;
    color: $clr-light;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    //filter: grayscale(70%);

    min-height: 400px;

    .feature {
        flex-grow: 1;
    }

    .nav-ctr {
        width: 400px;
    }
}

.navigation {
    background: #101316;
    background: rgba(0, 3, 6, 0.8);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;

    .navfooter {
        font-size: 80%;
        padding: 1.0em;
    }

    .navheader {
        padding: 1.0em;
        text-align: right;
    }

    .navcols {
        align-items: top;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        flex-wrap: nowrap;

        .navcol {
            flex-grow: 1;

            .navlink {
                background: transparent;
                border-left: 3px solid transparent;
                color: $clr-blue_alt;
                display: block;
                font-family: $font-heading;
                padding: 1.0em 1.0em;
                text-decoration: none;
                transition: $header-transition;
            }
            .navlink:hover {
                background: transparentize($clr-light, 0.93);
                border-left: 3px solid $clr-blue;
                color: $clr-blue_alt;
            }
        }
    }

} // .navigation
