$header-transition: all 0.3s;

@mixin clearBackground() {
    background: transparent;
}
@mixin darkAndTransparentBackground() {
    background: #101316;
    background: rgba(0, 3, 6, 0.8);
}

.header {
    align-items: stretch;
    background: $clr-dark;
    background-attachment: fixed;
    background-image: url(../images/unsplash-code02-darken.jpg);
    background-position: center top;
    background-size: cover;
    border-bottom: 1px solid #fff;
    color: $clr-light;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    @include media($tablet-portrait) {
        flex-direction: row;
    }
    @include media ($tablet-landscape) {
        flex-direction: row;
    }
    @include media ($desktop) {
        flex-direction: row;
    }

    .feature {
        @include darkAndTransparentBackground();
        flex-grow: 1;
        text-align: center;

        @include media($tablet-portrait) {
            @include clearBackground();
            text-align: left;
        }
        @include media ($tablet-landscape) {
            @include clearBackground();
            text-align: left;
        }
        @include media ($desktop) {
            @include clearBackground();
            text-align: left;
        }
    }

    $nav-width: 450px;
    .nav-ctr {
        flex-grow: 1;

        @include media($tablet-portrait) {
            flex-grow: 0;
            width: $nav-width;
        }
        @include media ($tablet-landscape) {
            flex-grow: 0;
            width: $nav-width;
        }
        @include media ($desktop) {
            flex-grow: 0;
            width: $nav-width;
        }
    }
}

.navigation {
    @include darkAndTransparentBackground();
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;

    .navfooter {
        font-size: 80%;
        padding: 1.0em;
        text-align: center;
    }

    .navheader {
        padding: 1.0em;
        text-align: right;
    }

    .navcols {
        align-items: top;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        flex-wrap: nowrap;

        .navcol {
            flex-grow: 1;

            .navlink {
                background: transparent;
                border-left: 3px solid transparent;
                display: block;
                font-family: $font-heading;
                padding: 1.0em 1.0em;
                text-decoration: none;
                transition: $header-transition;
            }
            .navlink:hover {
                background: transparentize($clr-light, 0.93);
                border-left: 3px solid $clr-hlight2_lt;
            }
        }
    }

    a {
        color: $clr-hlight2_lt;

        &:hover {
            color: lighten($clr-hlight2_lt, 15%);
        }
    }

} // .navigation
