$size: 64px;

.logo {
    height: $size;
    width: auto;

    text {
        fill: #fff;
    }

    & .animating {
        display: none;
    }
    &:hover .animating {
        display: block;
    }

    & .steady {
        display: block;
    }
    &:hover .steady {
        display: none;
    }

    // dayton data visualization
    .text {
        display: block;
    }

    // ddv.
    .text-ddv {
        display: none;
    }
}
