
// original size of SVG is 1025x425 pixels
// height -> width ratio of 2.42
$ratio: 2.43;

@mixin animateOnHover() {
    // Animtate on hover
    & .animating {
        display: none;
    }
    &:hover .animating {
        display: block;
    }
    & .steady {
        display: block;
    }
    &:hover .steady {
        display: none;
    }
}

@mixin baseLogoStyles() {
    text {
        fill: #fff;
    }

    // dayton data visualization
    .text {
        display: none;
    }
    // ddv.
    .text-ddv {
        display: block;
    }

    @include media($tablet-portrait) {
        .text {
            display: block;
        }
        .text-ddv {
            display: none;
        }
    }
    @include media($tablet-landscape) {
        .text {
            display: block;
        }
        .text-ddv {
            display: none;
        }
    }
    @include media($desktop) {
        .text {
            display: block;
        }
        .text-ddv {
            display: none;
        }
    }
}

$logo-sm: 50px;
$logo-md: 80px;
$logo-lg: 128px;
.headerlogo .logo {
    height: $logo-sm;
    margin: 1.0em;
    width: $logo-sm * $ratio;

    @include animateOnHover();
    @include baseLogoStyles();

    @include media($tablet-portrait) {
        height: $logo-md;
        width: $logo-md * $ratio;
    }
    @include media($tablet-landscape) {
        height: $logo-md;
        width: $logo-md * $ratio;
    }
    @include media($desktop) {
        height: $logo-lg;
        width: $logo-lg * $ratio;
    }
}

$navlogo-sm: 50px;
$navlogo-md: 60px;
$navlogo-lg: 60px;
.navbar__logo .logo {
    height: $navlogo-sm;
    margin: 0.25em 1.0em;
    width: $navlogo-sm * $ratio;

    @include animateOnHover();
    @include baseLogoStyles();

    @include media($tablet-portrait) {
        height: $navlogo-md;
        width: $navlogo-md * $ratio;
    }
    @include media($tablet-landscape) {
        height: $navlogo-md;
        width: $navlogo-md * $ratio;
    }
    @include media($desktop) {
        height: $navlogo-lg;
        width: $navlogo-lg * $ratio;
    }
}

$footlogo-sm: 72px;
$footlogo-md: 96px;
$footlogo-lg: 128px;
.footer__logo .logo {
    height: $footlogo-sm;
    margin: 0;
    margin-bottom: 1.0em;
    width: $footlogo-sm * $ratio;

    @include animateOnHover();
    @include baseLogoStyles();

    .text {
        display: block;
    }
    .text-ddv {
        display: none;
    }

    @include media($tablet-portrait) {
        height: $footlogo-md;
        width: $footlogo-md * $ratio;
    }
    @include media($tablet-landscape) {
        height: $footlogo-md;
        width: $footlogo-md * $ratio;
    }
    @include media($desktop) {
        height: $footlogo-lg;
        width: $footlogo-lg * $ratio;
    }
}
