
$size-sm: 52px;
$size-md: $size-sm + 24px;
$size-lg: $size-md + 24px;

// original size of SVG is 1025x425 pixels
// height -> width ratio of 2.42
$ratio: 2.43;

.logo {
    height: $size-sm;
    margin: 1.0em;
    width: $size-sm * $ratio;

    text {
        fill: #fff;
    }

    // Animtate on hover
    & .animating {
        display: none;
    }
    &:hover .animating {
        display: block;
    }
    & .steady {
        display: block;
    }
    &:hover .steady {
        display: none;
    }

    // dayton data visualization
    .text {
        display: none;
    }
    // ddv.
    .text-ddv {
        display: block;
    }


    @include media($tablet-portrait) {
        height: $size-md;
        width: $size-md * $ratio;
        .text {
            display: block;
        }
        .text-ddv {
            display: none;
        }
    }
    @include media($tablet-landscape) {
        height: $size-md;
        width: $size-md * $ratio;
        .text {
            display: block;
        }
        .text-ddv {
            display: none;
        }
    }
    @include media($desktop) {
        height: $size-lg;
        width: $size-lg * $ratio;
        .text {
            display: block;
        }
        .text-ddv {
            display: none;
        }
    }
}
