
$navmenu-transition: all 0.3s;

.navmenu {
    background: $clr-dark;
    background-image: linear-gradient(to bottom, $clr-dark, darken($clr-dark, 7%));
    color: darken($clr-light, 5%);
    height: 100%;
    left: 100%;
    min-width: 350px;
    position: absolute;
    right: 0;
    top: 0;
    transition: $navmenu-transition;

    .navigation {
        background-color: transparent;
        background-image: none;
    }
}

.navmenu.open {
    left: 0;

    @include media($tablet-portrait) {
        left: 25%;
    }
    @include media ($tablet-landscape) {
        left: 50%;
    }
    @include media ($desktop) {
        left: 50%;
    }
}

.navmenu__header {

    a {
        color: darken($clr-light, 5%);
        display: flex;
        justify-content: flex-end;
        padding: 1.0em;
        text-align: right;
        text-shadow: 1px 1px 0 #000;

        i {
            margin-right: 0.25em;
        }
    }
    a:hover {
        background-color: transparentize($clr-light, 0.95);
        color: $clr-light;
    }
}
