
.navbar {
    align-items: center;
    background: $clr-dark;
    //background-image: linear-gradient(to bottom, $clr-dark, #000);
    border-bottom: 1px solid $clr-light;
    box-shadow: 0 0 0.95em transparentize(#000, 0.35);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.navbar__logo {
    flex-grow: 1;
}

.navbar__menu {
    align-items:center;
    align-self:stretch;
    color: darken($clr-light, 5%);
    display:flex;
    padding: 1.0em;
    text-decoration: none;
    text-shadow: 1px 1px 0 #000;

    &:hover {
        background-color: transparentize($clr-light, 0.95);
        color: $clr-light;
    }

    .icon {
        margin-right: 0.5em;
    }
}

.navpanel {
    background: $clr-dark;
    bottom: 100%; // -> 0
    color: $clr-light;
    left: 100%; // -> 0
    position: absolute;
    right: 0;
    top: 0;
}
