---
layout: default
title: Events
permalink: /events/
---
<div class="page events">

    {% for event in site.categories.events %}
    <div class="event__desc">
        <h3><a href="{{ event.url }}">{{ event.day }} {{ event.title }}</a></h3>
        <p>{{ event.description }}</p>
        {% if event.youtube %}
            <a class="button" href="{{ event.youtube }}">
                <img src="/images/youtube.svg" />
                YouTube
            </a>
        {% else %}
            <a class="button" href="{{ event.rsvp }}">
                <img src="/images/meetup-logo.svg" />
                RSVP
            </a>
        {% endif %}
    </div>

    {% if forloop.last == false %}
        <hr />
    {% endif %}

    {% endfor %}

</div>
