---
layout: home
---

<div class="home">

    <section class="home__main">

        {% for event in site.categories.events limit:2 %}
        <div class="event__desc">
            <h2>{{ event.day }}</h2>
            <h3><a href="{{ event.url }}">{{ event.title }}</a></h3>
            <p>{{ event.description }}</p>
            {% if event.youtube %}
                <a class="button" href="{{ event.youtube }}">
                    <img src="/images/youtube.svg" alt="" />
                    YouTube
                </a>
            {% else %}
                <a class="button" href="{{ event.rsvp }}">
                    <img src="/images/meetup-logo.svg" alt="" />
                    RSVP
                </a>
            {% endif %}
        </div>
        {% endfor %}

        <hr />

        <h2>Get Involved!</h2>
        <p>
            There are several ways to get involved with the group. It's a
            great way to give your resume a boost or pickup a new skill. Here
            are some options:
            <ul>
                <li><strong>Come to an event!</strong> Come hang out with us and
                    meet people in the area doing work in the data visualization field.
                    We always have excellent speakers, food, and swag. Best of all,
                    most of our events are free! Join us on
                    <a href="http://meetup.com/daytondv">meetup.com</a>
                    and RSVP for the next event.
                </li>
                <li>
                    <strong>Help us maintain this site!</strong> We need help generating content, fixing
                    bugs, and adding features. Check out our current list of
                    <a href="https://github.com/daytondv/www.daytondv.org/issues">issues on GitHub</a>
                    and contribute where you can.
                </li>
                <li>
                    <strong>Come speak at an event!</strong> We always need
                    speakers. Check out our
                    <a href="/speakers">speakers page</a>
                    for tips on what topics are appropriate.
                </li>
            </ul>
        </p>

    </section>

    <section class="home__sidebar">
        <h2>DDV News</h2>
        {% for news in site.categories.news %}
            <h3>{{ news.title }}</h3>
            {{ news.content }}
        {% endfor %}

        <h2>Sponsors</h2>
        {% for sponsor in site.sponsors %}
        <div class="home__sponsor">
            <div class="sponsor__title"><a href="{{ sponsor.url }}">{{ sponsor.title }}</a></div>
            <img src="{{ sponsor.logo_sm }}" class="sponsor__logo-sm" />
            <p>{{ sponsor.overview }}</p>
        </div>
        {% endfor %}
    </section>

</div>
